@model TaskVM

<div class="card shadow border-0 my-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2"> @(Model.Product.Id!=0?"Modifica":"Creazione") del task</h2>
			</div>
		</div>
	</div>
</div>
<div class="card-body p-4">
	<form method="post" class="row" enctype="multipart/form-data">
		<input asp-for="Task.Id" hidden/>
		@* 		<input asp-for="Product.ImageUrl" hidden/>
 *@		<div class="row">
			<div class="col-10">
				<div class="border p-3 mt-4">
					<div class="mb-3 row p-1">
						<label asp-for="Product.Manufacturer" class="p-0" categoria></label>
						<input asp-for="Product.Manufacturer" class="form-control" />
						<span asp-validation-for="Product.Manufacturer" class="text-danger"></span>
					</div>
					<div class="mb-3 row p-1">
						<label asp-for="Product.Model" class="p-0"></label>
						<input asp-for="Product.Model" class="form-control" />
						<span asp-validation-for="Product.Model" class="text-danger"></span>
					</div>
					<div class="mb-3 row p-1">
						<label asp-for="Product.IMEI" class="p-0"></label>
						<input asp-for="Product.IMEI" class="form-control" />
						<span asp-validation-for="Product.IMEI" class="text-danger"></span>
					</div>
					<div class="mb-3 row p-1">
						<label asp-for="Product.ListPrice" class="p-0"></label>
						<input asp-for="Product.ListPrice" class="form-control" />
						<span asp-validation-for="Product.ListPrice" class="text-danger"></span>
					</div>
					<div class="mb-3 row p-1">
						<label asp-for="Product.Price" class="p-0"></label>
						<input asp-for="Product.Price" class="form-control" />
						<span asp-validation-for="Product.Price" class="text-danger"></span>
					</div>
					<div class="mb-3 row p-1">
						<label asp-for="Product.Price50" class="p-0"></label>
						<input asp-for="Product.Price50" class="form-control" />
						<span asp-validation-for="Product.Price50" class="text-danger"></span>
					</div>
					<div class="mb-3 row p-1">
						<label asp-for="Product.Price100" class="p-0"></label>
						<input asp-for="Product.Price100" class="form-control" />
						<span asp-validation-for="Product.Price100" class="text-danger"></span>
					</div>
					<div class="form-floating py-2 col-12">
						<select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select border-0 shadow">
							<option disabled selected>--Selezionare categoria</option>
						</select>
						<label asp-for="Product.CategoryId" class="ms-2"></label>
						<span asp-validation-for="Product.CategoryId" class="text-danger"></span>
					</div>
					<div class="mb-3 row p-1">
						<input type="file" name="files" class="form-control border-0 shadow" multiple/>
						<label asp-for="Product.ProductImages" class="ms-2"></label>
					</div>
					<div class="row pt-2">
						<div class="col-6 col-md-3">
							@if (Model.Product.Id != 0)
							{
								<button type="submit" asp-controller="Product" asp-action="Upsert" class="btn btn-primary form control" style="width:150px">Modificare</button>
							}
							else
							{
								<button type="submit" asp-controller="Product" asp-action="Upsert" class="btn btn-primary form control" style="width:150px">Creare</button>
							}
						</div>
						<div class="col-6 col-md-3">
							<a asp-controller="Product" asp-action="Index" class="btn btn-secondary border form-control" style="width:150px">Tornare alla lista</a>
						</div>
					</div>
				</div>

			</div>
			<div class="col-2">
				@if(Model.Product.ProductImages != null)
				{
					foreach(var image in Model.Product.ProductImages)
					{
						<div class="border p-1 m-2 text-center">
							<img src="@image.ImageUrl" width="100" style="border-radius:5px; border: 1px solid #bbb9b9" />
							<a asp-action="DeleteImage" class="btn btn-danger" asp-route-image="@image.Id">
								Cancellare immagine
							</a>
						</div>
					}
				}
		</div>
		</div>
</form>
</div>